{% extends "layout.html" %}
{% block content %}
    {% for bet in bets.items %}
        <article class="media content-section">
           <div class="media-body">
               <h4 class="mr-2">{{ bet.whole_detail }}</h4>
               <strong class="text-muted">{{ bet.ticket_number }}</strong>
               <small class="text-muted">{{ bet.date_posted.strftime("%m/%d/%Y, %H:%M:%S") }}</small>
          </div>
        </article>
    {% endfor %}

    {% for page_num in bets.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if bets.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('bet_history', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('bet_history', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}