{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Place Bet</legend>

                <div class="form-group">
                    <p>Table A: Magnum, Table B: Toto</p>
                </div>

                <div class="form-group">
                    {{ form.bet_codes.label(class="form-control-label") }}
                    {% if form.bet_codes.errors %}
                    {{ form.bet_codes(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bet_codes.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                        {{ form.bet_codes(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}